/*  your css code here. If applicable */
body{
	background-color : #f5f5f5;
}

#box1{
	border : 1px solid black;
	padding : 8px 10px;
	background-color : #fff;
	margin : 10px;
}

#box2{
	border : 1px solid black;
	padding : 8px 10px;
	background-color : #fff;
	margin : 10px;
}

.a1{
	text-align : right;
	font-style : italic;
}